.pb-10 {
    padding-bottom: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pd {
    padding: 5px 0;
}

.px-30 {
    padding-left: 30px;
    padding-right: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py {
    padding-left: 100px;
    padding-right: 100px;
}

.pl-30 {
    padding-left: 30px;
}

.p-all {
    padding: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.mr-5 {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.table {
    font-size: 14px;
}

.el-table thead {
    color: #333;
}

.text-center {
    text-align: center;
}

.el-button--mini,
.el-button--small {
    font-size: 14px;
}

.border {
    border: 1px solid #ccc;
}

.bg-white {
    background: #fff;
}

.border-right {
    border-right: 1px solid #ccc;
    height: 32px;
    line-height: 32px;
    padding-left: 4px;
}

.br {
    border-right: 1px solid #ccc;
    padding-left: 4px;
    height: 64px;
    line-height: 64px;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-bottom2 {
    border-bottom: 2px solid #ccc;
}

.text-bold {
    font-weight: 700;
}

.ml-left {
    margin-left: -8px;
}