.pb-10 {
    padding-bottom: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.table {
    font-size: 14px;
}

.el-table thead {
    color: #333;
}

.el-button--mini,
.el-button--small {
    font-size: 14px;
}
